.navbar {
  display: none;
}

.navbar-standart {
  margin-left: 50px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.navbar-burger {
  padding: 0px 0px 20px 0px;
  margin: auto auto 20px 0px;
  width: 70px;
  display: flex;
  flex-direction: column;

  list-style-type: none;
}

.navbar-burger li {
  padding: 10px 0px 10px 0px;
}
.cart-button {
  cursor: pointer;
  color: #0d6efd;
  display: flex;
}

.cart-badget {
  margin: 0px 5px;
  padding: 0px 5px;
  border-radius: 4px;
  color: #fff;
  background-color: black;
}
